<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <form [formGroup]="portionForm" novalidate (ngSubmit)="onSubmitPortion(portionForm.value)"
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
            <mat-card-header>
                <mat-card-title>Définition des portions</mat-card-title>
                <mat-card-subtitle>Ajouter un nouvelle portion d'un aliment</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <mat-form-field [hideRequiredMarker]="portionForm.value.hideRequired" [floatLabel]="portionForm.value.floatLabel">
                    <mat-select required formControlName="idx" style="margin-right: 10px;">
                        <mat-option>-- None --</mat-option>
                        <mat-option *ngFor="let aliment of aliments | async; let i = index" [value] = "i">{{ aliment.name }}</mat-option>
                    </mat-select>
                    <mat-label style="margin-right: 10px;"><b> Aliments...</b></mat-label>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Portion de glucides (g/100g)" type="number" formControlName="carbs"
                        name="carbs" required min="0" max="100">
                    <mat-hint>La proportion de glucides est comprise entre 0 et 100</mat-hint>
                    <mat-error *ngIf="hasError('carbs', 'required')">Saisie obligatoire</mat-error>
                    <mat-error *ngIf="hasError('carbs', 'min')">La proportion de glucides doit être comprise entre 0 et 100</mat-error>
                    <mat-error *ngIf="hasError('carbs', 'max')">La proportion de glucides doit être comprise entre 0 et 100</mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" [disabled]="!portionForm.valid">Ajouter</button>
            </mat-card-actions>
        </form>
    </mat-card>
</section>

<br/>

<section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="500px" fxFlex.xs="100%">
        <mat-card-header>
            <mat-card-title>Liste des portions ajoutées</mat-card-title>
            <mat-card-subtitle><b>Charge totale : {{ globalCharge  | number:'1.0-2'}}</b></mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>

            <table mat-table [dataSource]="sortedData" class="mat-elevation-z8" matSort
                (matSortChange)="sortData($event)">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Nom de l'aliment </th>
                    <td mat-cell *matCellDef="let portion"> {{portion.name}} </td>
                </ng-container>

                <!-- Ig Column -->
                <ng-container matColumnDef="ig">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="ig"> Index glycémique </th>
                    <td mat-cell *matCellDef="let portion"> {{portion.ig | number:'1.0-2'}} </td>
                </ng-container>

                <!-- Carbs Column -->
                <ng-container matColumnDef="carbs">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="carbs"> Proportion de glucides (g/100g) </th>
                    <td mat-cell *matCellDef="let portion"> {{portion.carbs | number:'1.0-2'}} </td>
                </ng-container>

                <!-- Charge Column -->
                <ng-container matColumnDef="charge">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header="charge"> Charge glycémique calculée </th>
                    <td mat-cell *matCellDef="let portion"> {{portion.charge | number:'1.0-2'}} </td>
                </ng-container>

                <!-- Suppr Column -->
                <ng-container matColumnDef="suppr">
                    <th mat-header-cell *matHeaderCellDef> Supprimer </th>
                    <td mat-cell *matCellDef="let portion">
                        <mat-card-actions align="left">
                            <button mat-raised-button (click)="onDeletePortion(portion)">Supprimer</button>
                        </mat-card-actions>    
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="portionsDisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: portionsDisplayedColumns;"></tr>

            </table>

        </mat-card-content>

    </mat-card>
</section>
